source http://www.nuget.org/api/v2/
storage: none
lowest_matching: true
nuget Microsoft.CodeAnalysis.CSharp.Workspaces >= 2 strategy: min

group Analyzers
  storage: none
  source http://www.nuget.org/api/v2/
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget Microsoft.CodeAnalysis.PublicApiAnalyzers
  nuget ReflectionAnalyzers prerelease
  nuget StyleCop.Analyzers prerelease

group Test
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  nuget System.Runtime.CompilerServices.Unsafe 4.5.1
  nuget Gu.Roslyn.Asserts
  nuget NUnit
  nuget NUnit3TestAdapter