type project

projectUrl https://github.com/GuOrg/Gu.Roslyn.Extensions

releasenotes
  BUGFIX: Handle discard symbol in TrygetSymbol.
  FEATURE: More TrygetSymbol overloads.
  BREAKING: TryGetSymbol signatures.

excludedgroups
  Analyzers
