type project

projectUrl https://github.com/GuOrg/Gu.Roslyn.Extensions

releasenotes
  FEATURE: TryFindTarget with parameters.
  FEATURE: QualifiedOverload
  FEATURE: QualifiedArrayType
  FEATURE: QualifiedGenericType

excludedgroups
  Analyzers
